<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuggyWhipChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BuggyWhipChatUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BuggyWhipUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DDXML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SOAPWeatherService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SOAPWeatherServier.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A05ADAF13BADABB0080AAD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A05ADE213BADABC0080AAD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A51CFA514671E630032AE08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A88863C146710B000118E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A8886561467119300118E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AC893E513E5F1AB0001B921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ACB208F147694E800AB17FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
